@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="container-fluid text-center ">

<ul class="nav nav-pills flex-column fs-4">
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) fs-6" id="profile" asp-page="./Index">Thông tin cá nhân</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) fs-6" id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) fs-6" id="change-password" asp-page="./ChangePassword">Mật Khẩu </a></li>
        <li class="nav-item"><a class="nav-link fs-6" id="" asp-page="">Thông tin hồ sơ  </a></li>
   @*  @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li> *@
</ul>
</div>
