@model TTLProject2.Models.HocSinhModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div class="container-sm">
    <div class="row">
        <div class="col-md-10 mt-4" style="border-radius:10px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;font-family:'Times New Roman'">
            <h3 class="mt-2 p-2">Thông Tin Học Sinh</h3>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="~/asset/images/user.png"/>
                    <p>

                        <a href="/QuanLyThongTinHocSinh/ChiTietHocSinh?MaHocSinh=@Model.MaHocSinh" class="text-decoration-none ">Xem chi tiết</a>
                    </p>

                </div>
                <div class="col-md-9">
                    <table class="table">
                        <thead>
                           
                        </thead>
                        <tbody>
                           
                                <tr>
                                    <td><span class="fw-bold">Mã Học Sinh :</span> @Model.MaHocSinh</td>
                                    <td><span class="fw-bold">Lớp Học :</span> @Model.MaLop</td>
                                </tr>
                                <tr>
                                    <td><span class="fw-bold">Họ Tên  :</span> @Model.HoTen</td>
                                    <td><span class="fw-bold">Ngày Sinh :</span>@Model.NgaySinh</td>
                                </tr>
                                <tr>
                                    <td><span class="fw-bold">Email :</span>@Model.Email</td>
                                    <td><span class="fw-bold">Địa Chỉ Nhà :</span>@Model.DiaChiNha</td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;font-family:'Times New Roman';height:150px;border-radius:10px">
                    <div class="p-3 text-center" style="line-height:150px">
                        <i class="fa-solid fa-briefcase fs-3">
                            <p style="font-family:'Times New Roman'" class="mt-2"><a href="/QuanLyThongTinHocSinh/KetQuaHocTap?MaHocSinh=@Model.MaHocSinh" class="text-decoration-none text-black"> Kết Quả Học Tập</a></p>
                        </i>
                    </div>
                </div>
                <div class="col-md-4" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;font-family:'Times New Roman';height:150px;border-radius:10px">
                    <div class="p-3 text-center" style="line-height:150px">
                        <i class="fa-solid fa-dollar-sign fs-3">
                            <p style="font-family:'Times New Roman'" class="mt-2"><a>Tra Cứu Công Nợ</a></p>
                        </i>
                    </div>
                </div>
                <div class="col-md-4" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;font-family:'Times New Roman';height:150px;border-radius:10px">
                    <div class="p-3 text-center" style="line-height:150px">
                        <i class="fa-regular fa-calendar fs-3">
                            <p style="font-family:'Times New Roman'" class="mt-2"><a>Lịch Học</a></p>
                        </i>
                    </div>
                </div>
            </div>
        
            
        </div>
</div>