@using Microsoft.AspNetCore.Identity
@using TTLProject2.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user!);
        if (roles.Contains("Quản Trị"))
        {

            <li class="nav-item">
                <i class="fa-solid fa-user text-white fs-5" style="text-align:center">
                    <a id="manage" href="#" class="nav-link text-white fs-6" style="font-family:'Times New Roman', Times, serif" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)!</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <i class="fa-solid fa-user text-black"></i>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-link fs-6 text-decoration-none text-black" style="font-family:'Times New Roman'">Thông tin Tài Khoản </a>
                        </div>
                        
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <i class="fa-solid fa-lock text-black"></i>
                            <a href="#" class="dropdown-link fs-6 text-decoration-none text-black" style="font-family:'Times New Roman'">Đổi mật khẩu  </a>
                        </div>
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <form id="" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-black "> <i class="fa-solid fa-right-from-bracket  "> <span style="font-family:'Times New Roman'"> Đăng Xuất</span></i></button>
                            </form>
                        </div>
                    </div>

                </i>
            </li>
        }
        else
        {
            <li class="nav-item">
                <i class="fa-solid fa-user text-white fs-5" style="text-align:center">
                    <a id="manage" href="#" class="nav-link text-white fs-6" style="font-family:'Times New Roman', Times, serif" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)!</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <i class="fa-solid fa-user text-black"></i>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-link fs-6 text-decoration-none text-black" style="font-family:'Times New Roman'">Thông tin Tài Khoản </a>
                        </div>
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <i class="fa-solid fa-table-columns"></i>
                            <a href="/QuanLyThongTinHocSinh/index?email=@UserManager.GetUserName(User)" class="dropdown-link fs-6 text-decoration-none text-black" style="font-family:'Times New Roman'">Dashboard </a>
                        </div>
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <i class="fa-solid fa-lock text-black"></i>
                            <a href="#" class="dropdown-link fs-6 text-decoration-none text-black" style="font-family:'Times New Roman'">Đổi mật khẩu  </a>
                        </div>
                        <div class="dropdown-item border-bottom p-3 menu-list">
                            <form id="" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-black "> <i class="fa-solid fa-right-from-bracket  "> <span style="font-family:'Times New Roman'"> Đăng Xuất</span></i></button>
                            </form>
                        </div>
                    </div>

                </i>
            </li>
        }

   @*  <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white fs-6 border-0"> <i class="fa-solid fa-right-from-bracket fs-3"></i></button>
        </form>
    </li> *@
}
else
{
    
    <li class="nav-item">
            <i class="fa-solid fa-user text-white fs-5" style="text-align:center">
                <a class="nav-link text-dark fs-6 text-white" style="font-family:'Times New Roman', Times, serif" id="login" asp-area="Identity" asp-page="/Account/Login">ĐĂNG NHẬP</a>
            </i>
    </li>
}
</ul>
